<div class="container-fluid">
  <h4>5-day forecast page:</h4>

  <div
    class="panel panel-default"
    *ngIf="locationForecast$ | async as locationForecast; else loadingSpinner"
  >
    <div class="panel-heading">
      <h3 class="panel-title">
        5-day forecast for {{ locationForecast.city.name }}
      </h3>
    </div>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let forecastItem of locationForecast.list">
        <ng-container *ngIf="forecastItem.weather[0] as weather">
          {{ forecastItem.dt | unixTimestampFormat:'dddd' }}: {{ weather.main }} - 
          Min: {{ forecastItem.main.temp_min | numberRound}} - 
          Max: {{ forecastItem.main.temp_max | numberRound }}
          <img
            *ngIf="weather.main | weatherConditionIcon as weatherConditionIconUrl"
            [src]="weatherConditionIconUrl"
            class="icon"
          />
        </ng-container>
      </li>
    </ul>
  </div>

  <ng-template #loadingSpinner>
    <app-loading-spinner></app-loading-spinner>
  </ng-template>

  <button class="btn btn-success" tabindex="0" id="mainPageBtn" [routerLink]="['/']">
    &lt; Back to main page
  </button>
</div>
