
<div class="container-fluid">
  <h4 class="page-title">Main page:</h4>
  
  <form class="well" [formGroup]="addLocationFormGroup" (submit)="addLocationCliked()">
    <h2>Enter a zipcode:</h2>
    <input
      class="form-control"
      placeholder="Zipcode"
      type="text"
      id="addLocation"
      formControlName="zipCode"
    />
    <br />
    <button 
      class="btn btn-primary" 
      id="addLocationBtn"
      type="submit"
      [disabled]="addLocationFormGroup.invalid || (isLoadingLocations$ | async)"
    >Add location</button>
    <button 
      class="btn btn-danger reset-btn"
      id="resetLocationsBtn"
      [disabled]="(isLoadingLocations$ | async)"
      (click)="resetCliked()"
    >Reset</button>
  </form>
  <div class="locations-list-container">
    <div class="loading-spinner-container" *ngIf="isLoadingLocations$ | async as isLoadingLocations">
      <app-loading-spinner [isVisible]="isLoadingLocations"></app-loading-spinner>
    </div>
    <div class="well flex" *ngFor="let location of (locations$ | async)">
      <div>
        <h3>{{ location.openWeather.name }} ({{ location.zipCode }})</h3>
        <h4>Current conditions: Clouds</h4>
        <h4>Temperatures today:</h4>
        <p>Current {{ location.openWeather.main.temp }} - Max {{ location.openWeather.main.temp_max }} - Min {{ location.openWeather.main.temp_min }}</p>
        <p>
          <a [routerLink]="location.zipCode">Show 5-day forecast for {{ location.openWeather.name }}</a>
        </p>
      </div>
      <div *ngIf="location.openWeather.weather[0] as firstWeather">
        <span class="close" (click)="removeLocationClicked(location.zipCode)">×</span>
        <img [src]="firstWeather.main | weatherConditionIcon" />
      </div>
    </div>
  </div>
</div>
